<meta charset="utf-8">
<div class="container">
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">


      <ul class="list-unstyled components">

        <li>
          <a (click)="openModal(template2)">Посещаемость</a>
        </li>
        <div class="btn-group" dropdown>
          <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
            Расписание<span class="caret"></span>
          </button>
          <ul *dropdownMenu class="dropdown-menu" role="menu">
            <li role="menuitem"><a class="dropdown-item" (click)="openModal(template)">Расписание преподавателя</a></li>
            <li role="menuitem"><a class="dropdown-item" (click)="openModal(template1)">Расписание группы</a></li>
          </ul>
        </div>
        <li>
          <a (click)="openModal(changePass)">Аккаунт</a>
        </li>
        <li>
          <a href="#">Выход</a>
        </li>
      </ul>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">

    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Заголовок модального окна -->
      <div class="modal-header">

        <h4 class="modal-title">Расписание</h4>
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body">
        Имя преподявателя <input type="text" class="form-control" name="groupname"  required="" autofocus="" /><br>
        <table class="table">
          <thead>
          <tr>
            <th>№</th>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
          </tr>
          <tr>
            <th scope="row">2</th>
          </tr>
          <tr>
            <th scope="row">3</th>
          </tr>
          <tr>
            <th scope="row">4</th>
          </tr>
          <tr>
            <th scope="row">5</th>
          </tr>
          <tr>
            <th scope="row">6</th>
          </tr>
          <tr>
            <th scope="row">7</th>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- Футер модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="decline()">Закрыть</button>
        <button type="button" class="btn btn-default" (click)="addStudent()">Сохранить изменения</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #template1>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Заголовок модального окна -->
      <div class="modal-header">

        <h4 class="modal-title">Расписание</h4>
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body">
        Номер группы <input type="text" class="form-control" name="groupname"  required="" autofocus="" /><br>
        <table class="table">
          <thead>
          <tr>
            <th>№</th>
            <th>Пн</th>
            <th>Вт</th>
            <th>Ср</th>
            <th>Чт</th>
            <th>Пт</th>
            <th>Сб</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
          </tr>
          <tr>
            <th scope="row">2</th>
          </tr>
          <tr>
            <th scope="row">3</th>
          </tr>
          <tr>
            <th scope="row">4</th>
          </tr>
          <tr>
            <th scope="row">5</th>
          </tr>
          <tr>
            <th scope="row">6</th>
          </tr>
          <tr>
            <th scope="row">7</th>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- Футер модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="decline()">Закрыть</button>
        <button type="button" class="btn btn-default" (click)="addStudent()">Сохранить изменения</button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #changePass>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <h4 class="modal-title">Сменить пароль</h4>
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body">
        Старый пароль <input type="text" class="form-control" name="old"  required="" autofocus="" /><br>
        Новый пароль <input type="text" class="form-control" name="new"  required="" autofocus="" /><br>
        Еще раз новый пароль <input type="text" class="form-control" name="repeat"  required="" autofocus="" /><br>
      <!-- Футер модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="decline()">Закрыть</button>
        <button type="button" class="btn btn-default" (click)="addStudent()">Сохранить изменения</button>
      </div>
    </div>
  </div>
  </div>
</ng-template>

<ng-template #template2>
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <h4 class="modal-title">Посещаемость</h4>
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body">
        <table class="table">
          <thead>
          <tr>
            <th>Предмет</th>
            <th>Пропуски(ч)</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <th scope="row">1</th>
          </tr>
          </tbody>
        </table>
      </div>
      <!-- Футер модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="decline()">Закрыть</button>
        <button type="button" class="btn btn-default" (click)="addStudent()">Сохранить изменения</button>
      </div>
    </div>
  </div>
</ng-template>

