<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   FacultyWatcher
  </h1>

</div>

<app-page
  *ngIf="(isLogged.role == 0)"
>
</app-page>

<div
>
  <table width="100%" cellspacing="0" cellpadding="5">
    <tr>
      <td width="200" valign="top"><app-page-admin
        *ngIf="(isLogged.role != 0)">

      </app-page-admin></td>
      <td valign="top">
        <div *ngIf="(isLogged.role != 0)">
          <br><br><br><br><br><br><br><br>
          <h2>Здравствуйте, {{isLogged.currentName+" "+isLogged.currentSurname}} </h2>
          <h3>Для того, чтобы воспользоваться функционалом приложения,
              кликните на одну из функций в меню слева
          </h3>
        </div>
      </td>
    </tr>
  </table>

  <!--<app-page-admin-->
    <!--*ngIf="(isLogged.role != 0)">-->

  <!--</app-page-admin>-->


    <!--<app-page-teacher
      *ngIf="(isLogged.role == 2)"
    ></app-page-teacher>
      <app-page-student
        *ngIf="(isLogged.role == 3)"
      ></app-page-student>-->


</div>


<router-outlet
  *ngIf="(isLogged.isLogged != 0)"
></router-outlet>


