
<div>
    <form class="form-signin">
      <h2 class="form-signin-heading">Войдите в аккаунт</h2>
      <input type="text" class="form-control" name="login" placeholder="Login" required="" autofocus=""
             [(ngModel)]="login" />
      <input type="password" class="form-control" name="password" placeholder="Password" required=""
             [(ngModel)]="password"/>
      <button
        class="btn btn-lg btn-primary btn-block"
        type="submit"
        (click)="emitLogin()"
      >Вход</button>
      {{currentStudent.password}} {{password}}
    </form>
</div>
